/CaRMS-ejb/nbproject/private/
/HolidayReservationSystemClient/nbproject/private/
/CaRMSLibrary/nbproject/private/
/CaRMSReservationClient/nbproject/private/
/CaRMSManagementClient/nbproject/private/
/nbproject/private/
/CaRMSLibrary/build/
/CaRMS-ejb/build/
/CaRMSLibrary/dist/
/build/
/CaRMS-ejb/dist/
/CaRMSReservationClient/build/
/CaRMSReservationClient/dist/
/CaRMSManagementClient/build/
/CaRMSManagementClient/dist/
/dist/
/HolidayReservationSystemClient/dist/
/HolidayReservationSystemClient/build/
/HolidayReservationSystemWebClient/nbproject/private/
/HolidayReservationSystemWebClient/dist/
/HolidayReservationSystemWebClient/build/
